body{
  margin: 0px;
}
div{
  width: 100%;
  background-color: #055990;
}
div.page{
  height: 100%;
}
div.main{
  text-align: center;
  color: #CC9960;
  top: 100px;
  left: 100px;
  height: 200px;
}

div.header{
  height: 200px;
}

div.shaded{
  background-color: #033770;
}

h1.tite{
}

img.header{
  width: 100%;
  height: 200px;
}

a.menu-item{
  margin: 0px 10px;
  color: #FF0000;
}
