body{
  margin: 0px;
}
div{
  width: 100%;
  background-color: #055990;
}
div.page{
  height: 100%;
}
div.main{
  text-align: center;
  color: #CC9960;
  height: 200px;
}

div.header{
  height: 200px;
}

div.banner{
  background-image: url("images/banner.svg");
  background-repeat: no-repeat;
  height: 200px;

}

div.footer{
  height: 200px;
  background-color: #277BB2;
  text-align: center;
  border-radius: 0 100px 0 0;
  background-image: url("images/header.png");
  background-repeat: no-repeat;
  background-size: cover;
}

div.shaded{
  background-color: #033770;
}

h1.tite{
}

img.header{
  width: 100%;
  height: 200px;
}

img.banner{
  width: 100%;
  height: 200px;
}

a.menu-item{
  margin: 0px 10px;
  color: #FF0000;
}
